.row {
    position: relative;
  }
  
  .index_ul {
    position: relative;
    z-index: 1; /* Set a lower z-index to be overlapped by the image section */
    padding: 20px; /* Add padding to the ul list as needed */
    background-image: url('img/gif.gif'); /* Set the path to your GIF image */
    background-size: cover; /* Scale the image to cover the entire ul list */
    background-position: center center; /* Center the image horizontally and vertically */
    background-repeat: no-repeat; /* Prevent the image from repeating */
  }

  .index_ul a {
    color: #0dcaf0;
  }
  .index_ul li, h3 {
    color: #333;
  }

  @media (max-width: 768px) {
    .index_ul li, h3, i{
        color: #10b9ecc9;
      }

      .index_ul a {
        color: #0dcaf0;
      }
  }