*,
h1,
h2,
h3,
h4,
h5,
h6,
body {
  font-family: 'Barlow', sans-serif;
} 

body {
margin: 0;
padding: 0;
height: 100vh;
display: flex;
flex-direction: column;
}

.bottom-navbar {
background-color: #fff;
color: #333;
padding: 20px;
position: fixed;
bottom: 0;
left: 0;
right: 0;
}

nav ul {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
justify-content: center;
}

nav li {
margin: 0 10px;
background-color: rgba(214, 208, 208, 0.753);
}

nav a {
color: #333;
text-decoration: none;
}

@media (min-width: 768px) {
/* Styles for desktop view */
.bottom-navbar {
display: none; /* hide the bottom navbar in desktop view */
}
}

.box-shape {
    width: 50%;
    height:80%;
    background-color: #fff; 
    border: 1px solid #000; 
    border-radius: 10%; 
    margin-left: 5px;
    margin-top: 10px;
    display: flex;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    justify-content: center;
  }

  .box-shape img{
    width: 100%;
    height: 90%;
    
  }

  .logo {
    max-width: 80%;
    justify-content: center;
    align-items: center;
  }

  .hero-banner-app {
   
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    background-color: #fff;
  }

  .background-container {
    position: relative;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  .buttons-container {
    position: relative;
    z-index: 1;
  }

  .contact-me li{
    list-style-type: none;
  }

  .inquiry-box {
    width: 100%;
    border-radius: 5%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    }

    .properties-box {
      width: 100%;
      height: 100%;
      border-radius: 5%;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
      }
  