*,
h1,
h2,
h3,
h4,
h5,
h6,
body {
  font-family: 'Barlow', sans-serif;
} 

body {
margin: 0;
padding: 0;
height: 100vh;
display: flex;
flex-direction: column;
}

.bottom-navbar {
background-color: #fff;
color: #333;
padding: 20px;
position: fixed;
bottom: 0;
left: 0;
right: 0;
}

nav ul {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
justify-content: center;
}

nav li {
margin: 0 10px;
}

nav a {
color: #333;
text-decoration: none;
}

@media (min-width: 768px) {
/* Styles for desktop view */
.bottom-navbar {
display: none; /* hide the bottom navbar in desktop view */
}
}

.box-shape {
    width: 220px;
    height: 80px;
    background-color: rgb(236, 230, 230); 
    border: 1px solid #000; 
    border-radius: 10%; 
    margin-left: 5px;
    margin-top: 10px;
    display: flex;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  }

  .logo {
    max-width: 80%;
    justify-content: center;
    align-items: center;
  }