
.dark-mode {
  background-color: #333;
  color: #f5f5f5;
}
.dark-mode ul, .dark-mode li, .dark-mode p, .dark-mode a, .dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6 {
  color: #fff; /* Update text color for dark mode */
}
.dark-mode .facebook-icon {
  color: #fff; /* Update color for Facebook icon in dark mode */
}
.footer .footer-container {
  background-color: #1a1a1a;
}

.navbar .con-nav {
  background-color: #1a1a1a;
}

/* Define styles for normal mode */
.normal-mode {
  background-color: #fff;
  color: #333;
}
.normal-mode ul, li, p, a, h1, h2, h3, h4, h5, h6{
  color: #333;;
}
