*,
h1,
h2,
h3,
h4,
h5,
h6,
body {
  font-family: 'Barlow', sans-serif;
}

/* .logo_home {
  background-color: #1a1a1a;
  border-radius: 50%;
} */
.con-nav {
  padding-top: 0;
  margin-top: 0;
}

.form-control {
  flex: 1; /* Make the placeholder take up remaining space within the container */
  height: 40px; /* Set the height of the placeholder */
  padding: 10px; /* Add padding to the placeholder for spacing */
}

.btn {
  height: 40px; /* Set the height of the button to match the placeholder */
  margin-left: 10px; /* Add margin to the left of the button for spacing */
}

.hero-image {
  height: 50%;
}
.hero {
  position: relative;
  overflow: hidden;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 30px;
  font-weight: 900;
  color: black; 
  z-index: 2; 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
}
.hero-image {
  text-align: center;
  justify-content: center;
  color: #333;
  margin: 0 auto;
  padding-bottom: 0 auto;
}



#navbarNav {
  background-color: #1a1a1a;
}
.navbar, .con-nav{
  background-color: #333;
}

.navbar {
  /* Navbar styles here */
  position: sticky;
  top: 0; /* Adjust as needed */
  z-index: 100; /* Adjust as needed */
  background-color: #f2f2f2; 
  margin-top: 0;
  padding-top: 0;
}

.nav-link {
  color: #0099ff;
}

.hero-image--profile {
  width: 100%;
  border-radius: 10%;
}

.hero-image--profile {
  transform: rotate(0deg);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hero-image--profile:hover {
  /* Apply a 45 degree clockwise rotation on hover */
  transform: rotate(45deg);
}

/* navbar-brandlogo */

.navbar-brand:hover img {
  /* Set initial rotation angle to 0 degrees */
  transform: rotate(0deg);
  /* Add transition for smooth animation */
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navbar-brand:hover {
  /* Apply a 45 degree clockwise rotation on hover */
  transform: rotate(90deg);
}

.con-nav .navbar-brand {
  background-color: #1a1a1a;
}




.navbar-brand img {
  width: 40px;
  margin-top: 0;
  padding-top: 0;
 
}

.navbar:hover .nav-link:hover {
  /* background-color: rgba(201, 211, 233, 0.849);  */
  background-color: gray;
  border-radius: 5%;
  color: #fff; 
}

.navbar:hover .nav-link {
  color: #fff;
}

.navbar-brand:hover img {
  background-color: #333;
  border-radius: 50%;
}

.footer .footer-container {
  background-color: #1a1a1a;
}

/* 
@media (max-width: 768px) {
  .hero-image--profile {
    width: 50%;
    position: relative;
    margin-top: 5%;
    justify-content: center;
    text-align: center;
  }
} */


@media (max-width: 768px) {
  .navbar:hover .nav-link {
    color: #fff;
  }
  .navbar:hover .nav-link active {
    color: #fff;
  }

  .navbar-brand:hover img {
    background-color: #333;
    border-radius: 50%;
  }

  .nav-link {
    white-space: nowrap;
  }
  .navbar {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }

  .navbar:hover .nav-link:hover {
    background-color: gray;
    color: #fff;
    border-radius: 1px;
  }

  .con-nav {
    background-color: #1a1a1a;
  }


.properties h2 {
  margin-bottom: 5px;
  color: #333;
}

.properties:hover h3 {
  background-color: green;
}
.properties img {
  margin: 5px 5px;
  padding: 5px 5px;
  justify-content: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.social {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.social li {
  margin-right: 10px;
  font-size: 20px;
}

.contact-me li {
  list-style-type: none;
  color: #333;
}

.soc:hover,
.soc:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
  color: #333;
}

.amen img {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 auto;
  margin: 0 auto;
  justify-content: center;
}

.amen-pic:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}
.units {
  display: flex;
  justify-content: center;
}
.units {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.units ul {
  list-style-type: none;
}

.footer .footer-container {
  background-color: #1a1a1a;
}

}


.table tr,
th {
  justify-content: center;
  text-align: center;
  display: flex;
}

.table th {
  font-size: 20px;
}

.td-hover:hover {
  background-color: #333;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

td:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 768px) {

  .intro-video {
    height: 200px;
  }
  .olivarez-yt {
    height: 200px;
  }

  .jade {
    height: 200px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .olivarez-yt {
    height: 200px;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

  .jade {
    height: 200px;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  .jade-iframe {
    width: 100%;
    height: 100%;
  }
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 75%; /* 16:9 Aspect ratio */
  height: 100%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Center the modal on mobile view */
@media (max-width: 768px) {
  .modal-dialog {
    margin: 0 auto;
  }

  .available_units .units ul, li{
    padding-top: 0;
    margin-top: 0;
  }
}

/*footer*/
.footer li{
  list-style-type: none;
  color: #fff;
  display: flex;
  justify-content: start;
  padding-top: 5px;
  padding-left: 1px;
  margin-left: 1px;
  margin: 0 auto;
}

.footer-container {
  background-color: #333;
}

.footer a {
 text-decoration: none;
}


/*olivarez*/
.more-units li{
  list-style-type: none;
}

.talk_to_me li{
  list-style-type: none;
} 
.talk_to_me a{
  list-style-type: none;
  text-decoration: none;
  color:#333;
} 


/* properties card*/
.card-logo .card{
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
}

/*idesia cabuyao*/
.hero-image_idesia {
  position: relative;
}

.hero_idesia {
  position: relative;
  overflow: hidden;
  justify-content: center;
  text-align: center
}
td:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  transform: scale(1.1);
}
.ideacab_amenities .cabuyao:hover{
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.sora_inner_caro img{
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carousel-caption p{
  color:gray;
  font-size: 25px;
}


/* axeia*/

.td-hover:hover {
  background-color: #777;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}
.park_img_hover:hover{
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}


form input:disabled {
  background-color: #f2f2f2; /* Change to desired disabled form field color */
  color: #999; /* Change to desired text color for disabled form field */
}


@media (max-width: 768px) {

  .carousel-caption p{
    color:gray;
    font-size: 18px;
  }


  .intro_axi_banner img{
      width: 100%;
      padding: 0 auto;
      margin: 0 auto;
  }

  .axi_banner img{
    width: 100%;
  }
}

.intro_oli_banner img{
  width: 100%;
  height: 50%;
  padding: 0 auto;
  margin: 0 auto;
}
.intro_edi_banner img{
  width: 100%;
  height: 50%;
  padding: 0 auto;
  margin: 0 auto;
}

.intro_axi_banner img{
  width: 100%;
  height: 50%;
  padding: 0 auto;
  margin: 0 auto;
}
.intro-video {
  width: min ( 100% - 1em, 69em);
  margin-inline: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}


.card_body {
  width: min ( 100% - 1em, 69em);
  margin-inline: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

/* CSS for desktop view */
@media (min-width: 992px) {
  /* Add animation or movement styles here for desktop view */
  .card:hover {
    transform: translateX(-50px); /* Example: move 10 pixels to the left on hover */
    transition: transform 0.3s ease-in-out; /* Example: add transition effect for smooth animation */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  }
}

/* CSS for mobile view */
@media (max-width: 991px) {
  /* Add centering styles here for mobile view */
  .card {
    margin: 0 auto; /* Example: center the card horizontally */
  }
}
.gif img{
  width: 100%;
  justify-content: center;

}

.contact h2{
  padding-left: 28px;
}
.play_button {
  width:20px;
}

/*seacrh form*/
/* CSS code for styling the search form and search results */
#searchForm {
  display: flex;
  margin-bottom: 20px;
}

#keywordInput {
  flex: 1;
  padding: 10px;
}

#searchForm button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#searchResultsContainer {
  max-width: 800px;
  margin: 0 auto;
}

#searchResultsList {
  list-style-type: none;
  padding: 0;
}

#searchResultsList li {
  margin-bottom: 10px;
}
.audio-container {
  position: relative; /* Set to relative for positioning child elements */
  width: 300px; /* Set width to desired size */
  height: 200px; /* Set height to desired size */
}

.audio-file {
  width: 100%; /* Set width to 100% to fill the container */
  height: 100%; /* Set height to 100% to fill the container */
  object-fit: cover; /* Use object-fit to control how the audio file image is displayed within the container */
}
.flex-container {
  display: flex;
  /* Add any desired flexbox properties */
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.flex-item {
  flex-basis: 50%; /* Set flex basis to 50% for mobile view to create 2 columns */
 
}

@media (min-width: 768px) {
  .flex-container {
    display: block; 
  }
  
  .flex-item {
    flex-basis: calc(100% / 3); /* Set flex basis to 1/3 of the container width in desktop view */
    /* Add any desired styles for the list items in desktop view */
  }
}
@media (max-width: 768px) {
  .index_ul li, a{
    color: #333;
    font-size: 16px;
  }
  .r_img:hover{
    transform: scale(1.1);
  }

  .form-floating {
      width: 90%;
      justify-content: center;
      margin: 0 auto;

      padding: 0 auto;
      padding-top: 5px;
  }
  .card-img-top-client {
    border-radius: 50%;
    width: 200px;;
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 auto;
    margin: 0 auto;
    padding-top: 10px;
  }
  .news-invite p, li{
    list-style-type: none;
  }
}

@media (min-width: 992px) {
  .south_intro iframe{
      width: 100%;
  }

  .phuket_intro {
      width: 100vw;
  }
  .index_ul li, a{
    color: #333;
    font-size: 20px;
  }

  .end_royale img{
    max-height: 200px;
    justify-content: center;
    width: 100%;
  }

  .r_img:hover{
    transform: scale(1.1);
  }
  .form-floating {
    width: 40vw;
    justify-content: start;
    margin-left: 10px;
    padding-left: 0;
    padding-top: 5px;
}

.card-img-top-client {
  border-radius: 50%;
  width: 200px;;
  height: 200px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 auto;
  margin: 0 auto;
  padding-top: 10px;
}

.client-div {
  justify-content: center;
  margin-left: 300px;
}

.news-invite p, li{
  list-style-type: none;
}
.join_us  {
  height: 600px;
}
}



/*dark mode button */
#dark-mode-button {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #f5f5f5;
  color: #333;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}


#dark-mode-button.active {
  
  background-color: #333;
  color: #f5f5f5;
}

#dark-mode-button {
  margin-top: 0;
  margin-right: 10px;
  padding-top: 0;
}


